<h3 class="num_stores"> <%= @store.total%> Total Stores</h3>
<% @store.my_stores.each do |store| %>
  <ul class="store">
    <li class="name">
      <strong>Store: </strong><%= store.name%>
    </li>
    <li class="city">
      <strong>City: </strong><%= store.city%>
    </li>
    <li class="distance">
      <strong>Distance: </strong><%= store.distance%>
    </li>
    <li class="phone_number">
      <strong>Phone: </strong><%= store.phone_number%>
    </li>
    <li class="store_type">
      <strong>Store Type: </strong><%= store.store_type%>
    </li>
  </ul>
<% end %>
