<h3 class="num_stores"> <%= @stores.count%> Total Stores</h3>
<% @stores.each do |store| %>
  <ul class="store">
    <li class="name"><%= store.name%></li>
    <li class="city"><%= store.city%></li>
    <li class="distance"><%= store.distance%></li>
    <li class="phone_number"><%= store.phone_number%></li>
    <li class="store_type"><%= store.store_type%></li>
  </ul>
<% end %>
